*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedor-testimonio{
  background: black;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  outline: blue solid 1px;
}
.imagen-testimonio{
  width: 100%;
}
.contenedor-texto-testimonio{
  width: 100%;
}