*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  margin-top: 1rem;
}

.Titulo{
  text-align: center;
}

.remover-personaje{
  position: absolute;
  color: #fff;
  width: 100%;
  padding: .5rem;
}
.btn-remover{
  font-family: arial;
  font-size: 1.5rem;
  background: red;
  padding: 0rem .5rem .2rem .5rem;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.contenedor-testimonio{
  position: relative;
  background: #000;
  width: 80%;
  margin: 2rem auto;
  display: flex;
}
.imagen-testimonio{
  width: 375px;
  height: 375px;
  object-fit: cover;
}
.contenedor-texto-testimonio{
  padding: 3rem;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.nombre-testimonio{
  font-size: 1.5rem;
  font-weight: bold;
}
.cargo-testimonio{
  font-size: 1.5rem;
}

@media (max-width: 990px) {
  .contenedor-testimonio {
    width: 375px;
    flex-direction: column;
  }
  .imagen-testimonio{
    order: 1 !important;
  }
  .contenedor-texto-testimonio{
    order: 2 !important;
  }

  .remover-personaje {
    text-align: end !important;
  }
}